/* Downloaded from: https://github.com/23/resumable.js/blob/master/samples/Node.js/public/style.css */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}

/* Baseline */
body, p, h1, h2, h3, h4, h5, h6 {font:normal 12px/1.3em Helvetica, Arial, sans-serif;color:#333;}
h1 {font-size:22px; font-weight:bold;}
h2 {font-size:19px; font-weight:bold;}
h3 {font-size:16px; font-weight:bold;}
h4 {font-size:14px; font-weight:bold;}
h5 {font-size:12px; font-weight:bold;}
p {margin:10px 0;}
th, tr, td, p {text-align: left;}
body {text-align:center; margin:40px;}
#frame {margin:0 auto; width:800px; text-align:left;}

/* Table properties */
.sample-table, .sample-file-template, .sample-header-template {display:none;}
.panel {margin-top: 30px;}
.panel-heading {
    font-weight: bold;
    font-size: 16px;
}
th {
    font-weight:bold;
    font-size: 14px;
    text-align: center;
    }

.table>tbody>tr>td {vertical-align:middle;}

.sample-header, .sample-name {
    font-size: 14px;
    text-align: center;
}
.file-icon, .sample-option, .option, .metadata, .progress-bar{
    text-align: center;
}

.option-icon {
    cursor: pointer;
}

.option {font-size: 10px;}
.file-icon {font-size: 16px;}

.form-group .control-label {
  margin-bottom: 5px;
}

/* Auth token form */

.auth-token-form, .sample-name-form {
  margin-top: 40px;
  font-size: 15px;
  text-align: left;
}

.auth-success {
    background-color: #f0ad4e;
    color: white;
}


#auth-token, #sample-name {
  text-align: left;
  font-size: 15px;
  }

/* Add Sample */
.add-sample {
    margin-top: 20px;
    text-align: left
}

.add-sample-button, .cancel-sample-button, .upload-sample-button {
    width: 120px;
    margin-right: 10px;
    display: none;
}

.sample-name-form {
    margin-top: 20px;
    display: none;
}

#sample-table-text {
    height: 28px;
}

.edit-sample-name-form {
    background-color: #f5f5f5;
}


/* Uploader: Drag & Drop */
.resumable-error {
    display:none;
    font-size:14px;
    font-style:italic;
    margin-top:40px;
    }

.resumable-drop {
  padding: 60px 0;
  font-size:16px;
  text-align:center;
  font-weight:bold;
  background-color:#eee;
  border:2px dashed #aaa;
  border-radius:10px;
  z-index:9999;
  display:none;
}
.resumable-dragover {
  color: white;
  background-color:#333;
  border:2px solid #999;
}
.resumable-browse u {
  cursor: pointer;
}

/* Uploader: Progress bar */
#resumable-progress-template {
  display: none;
}
.resumable-progress {
  margin: 10px 0;
  width: 100%;
  height: 30px;
}
.progress-filename {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
    background-color: white;
    box-shadow: none;
}

.progress-bar {
  margin-right: 5px;
  margin-left: 5px;
  height: 20px;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
  color: black;
}
.progress-controls {
  float: right;
  padding-left: 15px;
}
.progress-retry-link,
.progress-cancel-link {
  height: 30px;
  margin: 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
}
.all-transfer-controls .progress-resume-link,
.all-transfer-controls .progress-pause-link {
  display:none;
  font-size: 14px;
}


/* Uploader: List of items being uploaded */
.current-uploads {
  display: none;
}

/* Uploader: Hover & Active status */
.uploader-item:hover, .is-active .uploader-item {border-color:#4a873c; cursor:pointer; }
.uploader-item:hover .uploader-item-title, .is-active .uploader-item .uploader-item-title {background-color:rgba(74,135,60,0.8);}

/* Uploader: Error status */
.is-error .uploader-item:hover, .is-active.is-error .uploader-item {border-color:#900;}
.is-error .uploader-item:hover .uploader-item-title, .is-active.is-error .uploader-item .uploader-item-title {background-color:rgba(153,0,0,0.6);}
.is-error .uploader-item-creating-thumbnail {display:none;}

/* Footer */
.footer {
  margin-top: 60px;
}
