/* Downloaded from: https://github.com/23/resumable.js/blob/master/samples/Node.js/public/style.css */

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}

/* Baseline */
body, p, h1, h2, h3, h4, h5, h6 {font:normal 12px/1.3em Helvetica, Arial, sans-serif;color:#333;}
h1 {font-size:22px; font-weight:bold;}
h2 {font-size:19px; font-weight:bold;}
h3 {font-size:16px; font-weight:bold;}
h4 {font-size:14px; font-weight:bold;}
h5 {font-size:12px; font-weight:bold;}
p {margin:10px 0;}
th, tr, td, p {text-align: left;}
body {text-align:center; margin:40px;}
#frame {margin:0 auto; width:800px; text-align:left;}

/* Table properties */
.dcc-table, .sample-table, .sample-file-template, .sample-header-template {display:none;}
.panel {
    margin-top: 30px;
}
.panel-heading {
    font-weight: bold;
    font-size: 16px;
}
.panel-heading:hover {cursor: pointer;}
.panel-footer {
    height: 64px;
    padding: 15px;
    background-color: white;
}
th {
    font-weight:bold;
    font-size: 12px;
    text-align: left;
}
.table>tbody>tr>td {
    vertical-align:middle;
    padding:  5px;
}
.table>thead>tr>th:nth-child(2){
    text-align: center;
}
.table>tbody>tr>.option,
.table>tbody>tr>.sample-option,
.table>thead>tr>th:nth-child(8) {
    text-align:right;
    padding-right: 20px;
}
.sample-collapse {
    text-align: center;
}
.sample-option.disabled {
    color: #aaaaaa;
    pointer-events: none;
}
.panel>.table>tbody>.sample-header-template>td {
    background-color: #FCFDFC;
    font-size: 15px;
}
.sample-header-template>td.sample-name,
.sample-name-header {
    text-align: left;
}
.sample-header,
.file-icon,
.panel>.table>thead>tr>.upload-status,
.panel>.table>thead>tr>.options,
.progress-bar {
    text-align: center;
}
td.sample-collapse,
td.sample-collapse:focus,
.sample-collapse,
.option-icon,
a.menu-item {
    cursor: pointer;
}
.option {font-size: 10px;}
.file-icon {font-size: 16px;}
.form-group .control-label {
    margin-bottom: 5px;
}
.sample-table td:nth-child(8),
.sample-table th:nth-child(8) {
    padding-right: 10px;
    width: 100px;
    display: none;
}
.collapsed {
    display: none;
}
.add-files, 
.edit-table-sample-name, 
.remove-sample,
.sample-collapse {
    padding-left: 5px;
}
.edit-disabled,
.edit-disabled:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    cursor: default;
}
input.error {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    outline: thin auto red;
}
.btn.dropdown-toggle {
    width: 100%;
    background-color: whitesmoke;
    font-size: 12px;

}
.btn.no-selection {
    background-color: white;
}
.btn.selection-made {
    background-color: white;
    border: dotted;
    border-color: whitesmoke;
    border-width: 1px;
}
.btn .caret {
    float: right;
    margin-top: 6px;
}

/* Auth token form */
.auth-token-form, .sample-name-form {
    margin-top: 40px;
    font-size: 15px;
    text-align: left;
}
.auth-success {
    color: white;
}
#auth-token, #sample-name {
    text-align: left;
    font-size: 15px;
}

/* Add Sample */
.add-sample {
    margin-top: 20px;
    text-align: left;
}
.auth-token-form,
.panel {
    min-width: 775px;
}
.panel .input-group .btn  {
    border-radius: 0px 4px 4px 0px;
}
.upload-sample-button {
    width: 120px;
    }
.cancel-sample-button {display: none;}
.sample-name-form {
    margin-top: 20px;
}
#sample-table-text {
    height: 28px;
}
.upload-sample-button.disabled,
.add-sample-button.disabled {
    pointer-events: none;
}

/* Uploader: Drag & Drop */
.resumable-error {
    display:none;
    font-size:14px;
    font-style:italic;
    margin-top:40px;
}
.resumable-drop {
    padding: 60px 0;
    font-size:16px;
    text-align:center;
    font-weight:bold;
    background-color:#eee;
    border:2px dashed #aaa;
    border-radius:10px;
    z-index:9999;
    display:none;
}
.resumable-dragover {
    color: white;
    background-color: rgba(51, 51, 51, 0.61);
    border:2px solid #999;
}
.resumable-browse u {
    cursor: pointer;
}

/* Uploader: Progress bar */
#resumable-progress-template {
    display: none;
}
.resumable-progress {
    margin: 10px 0;
    width: 100%;
    height: 30px;
}
.progress-filename {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.progress {
    background-color: white;
    box-shadow: none;
}
.progress-bar {
    margin-right: 5px;
    margin-left: 5px;
    height: 20px;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
    color: black;
}
.progress-controls {
    float: right;
    padding-left: 15px;
}
.progress-retry-link,
.progress-cancel-link {
    height: 30px;
    margin: 0;
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
}
.all-transfer-controls .progress-resume-link,
.all-transfer-controls .progress-pause-link {
    display:none;
    font-size: 14px;
}

/* Uploader: List of items being uploaded */
.current-uploads {
    display: none;
}

/* Uploader: Hover & Active status */
.uploader-item:hover, .is-active .uploader-item {border-color:#4a873c; cursor:pointer; }
.uploader-item:hover .uploader-item-title, .is-active .uploader-item .uploader-item-title {background-color:rgba(74,135,60,0.8);}

/* Uploader: Error status */
.is-error .uploader-item:hover, .is-active.is-error .uploader-item {border-color:#900;}
.is-error .uploader-item:hover .uploader-item-title, .is-active.is-error .uploader-item .uploader-item-title {background-color:rgba(153,0,0,0.6);}
.is-error .uploader-item-creating-thumbnail {display:none;}

/* Footer */
.footer {
    margin-top: 60px;
}
