<!DOCTYPE html>
<html lang="en">
<!-- Based off of example: https://raw.githubusercontent.com/23/resumable.js/master/samples/Node.js/public/index.html -->
<head>
    <meta charset="UTF-8">
    <title>DCC Large File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h1>Upload files to the DCC</h1></header>

    <section>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="resumable-error">
                    Oh no! Your browser isn't supported. Please try a recent version of Chrome or Firefox.
                </div>

                <div class="resumable-drop">
                    Drop files here or <a class="resumable-browse btn btn-default">Browse your computer</a>
                </div>

                <div class="current-uploads">
                    <h2>Current uploads:</h2>
                    <span class="all-transfer-controls">
                        <button class="progress-resume-link btn btn-success">Resume all</button>
                        <button class="progress-pause-link btn btn-warning">Pause all</button>
                    </span>
                    <ul id="resumable-transfers">
                        <li id="resumable-progress-template" class="resumable-progress row">
                            <p class="progress-filename col-xs-6"></p>
                            <div class="progress-wrapper col-xs-6">
                                <div class="progress-controls">
                                    <button class="progress-cancel-link btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                                </div>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="footer">
                    If you have any questions or run into issues, please email Orion &lt;<a href="mailto:buske@cs.toronto.edu">buske@cs.toronto.edu</a>&gt; and/or Dorin &lt;<a href="mailto:dorin.manase@sickkids.ca">dorin.manase@sickkids.ca</a>&gt;.
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='resumable.js') }}"></script>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
