<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DCC Large File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header><h1>Upload files to the DCC</h1></header>

<div class="container-fluid">

    <!-- Authorization form is presented first -->
    <div class="row col-sm-8 col-sm-offset-2 transfer-code">

        <div class="resumable-error">
            Oh no! Your browser isn't supported. Please try a recent version of Chrome or Firefox.
        </div>

        <form class="form-horizontal auth-token-form col-sm-12">
            <div class="form-group">

                <label for="auth-token" class="control-label">Transfer code</label>

                <div class="input-group">
                    <input id="auth-token" type="text" name="authToken" class="form-control"
                           placeholder="Please enter your transfer code">

                    <!-- only show these after the transfer code form is changed -->
                        <span class="input-group-addon auth-success">
                            <span class="glyphicon glyphicon-exclamation-sign transfer-symbol"></span>
                        </span>

                </div>

            </div>
        </form>

    </div>

    <!-- Upon authorization, present add-sample and cancel-sample button -->
    <div class="row col-sm-8 col-sm-offset-2 add-sample">

        <button type="button" class="btn btn-success active col-xs-3 add-sample-button" data-toggle="tooltip" title="Add new sample" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Sample
        </button>
        <button type="button" class="btn btn-danger col-xs-2 cancel-sample-button" data-toggle="tooltip" title="Cancel sample creation">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
        </button>
        <button type="button" class="btn btn-info col-xs-2 pull-right upload-sample-button" data-toggle="tooltip" title="Upload all files to the DCC">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload
        </button>
    </div>

    <!-- Upon clicking add-sample request a sample name -->
    <div class="row col-sm-8 col-sm-offset-2 sample">

        <form class="form-horizontal sample-name-form col-sm-12">
            <div class="form-group">

                <label for="sample-text" class="control-label">Sample name</label>

                <div class="input-group">
                    <input id="sample-text" type="text" name="sampleName" class="form-control"
                           placeholder="Please enter a sample name">
                        <span class="input-group-addon edit-sample-name">
                            <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit the sample name"></span>
                        </span>


                </div>

            </div>
        </form>

    </div>

    <!-- Upon sample name submission, present file drop options -->
    <div class="row col-sm-8 col-sm-offset-2 drop-area">

        <div class="resumable-drop col-sm-12">
            Drop files here or <a class="resumable-browse btn btn-default">Browse your computer</a>
        </div>

    </div>

    <!-- Table showing selected files, the progress bars should likely be displayed below -->
    <div class="row col-sm-8 col-sm-offset-2 sample-table">

        <div class="panel panel-default">
            <!-- Top panel contents -->
            <div class="panel-heading">Selected Samples</div>
            <div class="panel-body">
                <p>
                    Some instructions on how to select/indicate correct meta data?
                    For example, the same file cannot be included in multiple samples!
                </p>
            </div>

            <!-- Table -->
            <table class="table table-condensed table-data">
                <thead>
                <tr class="active">
                    <th></th>
                    <th>Files</th>
                    <th>Meta Data</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody class="sample-template">
                <tr class="active sample-header-template">
                    <td class="sample-name"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="sample-option">
                        <span class="option-icon resumable-add add-files glyphicon glyphicon-plus" data-toggle="tooltip" title="Add file(s) to sample"></span> &thinsp;
                        <span class="option-icon glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit sample name"></span> &thinsp;
                        <span class="option-icon remove-sample glyphicon glyphicon-remove" data-toggle="tooltip" title="Remove sample"></span>
                    </td>
                </tr>
                <tr class="sample-file-template">
                    <td class="file-icon"><span class="glyphicon glyphicon-arrow-right"></span></td>
                    <td class="file-name"></td>
                    <td class="metadata">...</td>
                    <td class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
                    </td>
                    <td class="option">
                        <span class="option-icon remove-file glyphicon glyphicon-remove" data-toggle="tooltip" title="Remove file"></span>
                    </td>
                </tr>
                </tbody>

            </table>


        </div>
    </div>


    <!-- Footer, leave at bottom -->
    <div class="row col-sm-8 col-sm-offset-2 footer-row">
        <div class="footer">
            If you have any questions or run into issues, please email Orion &lt;<a
                href="mailto:buske@cs.toronto.edu">buske@cs.toronto.edu</a>&gt; and/or Dorin &lt;<a
                href="mailto:dorin.manase@sickkids.ca">dorin.manase@sickkids.ca</a>&gt;.
        </div>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='resumable.js') }}"></script>
<script src="{{ url_for('static', filename='upload.js') }}"></script>


</body>
</html>