<!DOCTYPE html>
<html lang="en">
<!-- Based off of example: http://getbootstrap.com/examples/dashboard/# -->

<head>
    <meta charset="UTF-8">
    <title>DCC Large File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h6 class=" navbar-title">DCC Large File Upload</h6>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="logout" href="/">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

         <!-- Transfer code and login -->
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 transfer-code">
            <div class="flow-error">
                Oh no! Your browser isn't supported. Please try a recent version of Chrome or Firefox.
            </div>
            <form class="form-horizontal auth-token-form">
                <div class="form-group">
                    <label for="auth-token" class="control-label">Transfer code</label>
                    <div class="input-group">
                        <div class="validated-input">
                            <input id="auth-token" type="text" name="authToken" class="form-control" autocomplete="off"
                                   placeholder="Please enter your transfer code">
                            <span class="transfer-code-invalid glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary login auth-success">
                                <span class="glyphicon glyphicon-log-in transfer-symbol"></span> Login
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="main col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

              <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a class="tab-label" href="#upload" role="tab" data-toggle="tab">Upload</a>
                    </li>
                    <li role="presentation">
                        <a class="tab-label" href="#manage" role="tab" data-toggle="tab">Manage</a>
                    </li>
                    <li role="presentation">
                        <a class="tab-label" href="#analyze" role="tab" data-toggle="tab">Analyze</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="upload">
                        <div class="">
                            <h1 class="page-header">Upload Files to the DCC</h1>

                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <h3 class="step-header">1. Select samples</h3>
                                    <div class="step-description">
                                        <span class="text-muted">
                                            To start uploading sample/patient specific files, such as .fastq or .bam, click
                                            the button below. Each sample should contain all the files pertaining to the
                                            sequenced individual. You will be required to provide a sample name and specify
                                            all applicable metadata for the sample you wish to upload.
                                        </span>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary modal-add-sample-button"
                                                data-toggle="modal"
                                                data-target="#add-sample-modal">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Add Sample
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <h3 class="step-header">2. Additional files</h3>
                                    <div class="step-description">
                                        <span class="text-muted">
                                            For non-sample related files that are necessary for your pipeline or
                                            downstream analysis, such as capture kit BED files, references, or variant
                                            files, click the button below. These files will be available to all samples
                                            when choosing details about the analysis pipeline you would like to run.
                                        </span>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary modal-add-files-button"
                                                data-toggle="modal"
                                                data-target="#add-sample-modal">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Other Files
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-xs-6 col-sm-3">
                                    <h3 class="step-header">3. Provide metadata</h3>
                                    <div class="step-description">
                                        <span class="text-muted">
                                            Having complete and accurate metadata will help to ensure compatibility with
                                            downstream pipelines and help automate manifest creation. All metadata can be
                                            edited per file or for all files within a sample by clicking on the edit icon.
                                            Please ensure that you have indicated the appropriate readset for each file
                                            within a sample.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <h3 class="step-header">4. Upload files</h3>
                                    <div class="step-description">
                                        <span class="text-muted">
                                            Once you have selected all your files and provided their respective metadata,
                                            you can begin uploading your files by click the button below. Once the upload of
                                            all files is complete you will be able to view and manage them on the Manage
                                            tab. Any files that fail to upload will be left in the table below and you may
                                            choose to retry the upload.
                                        </span>
                                    </div>
                                    <div>
                                        <button class="btn btn-default cancel-upload"
                                            data-toggle="tooltip" title="Cancel upload of all files">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary start-upload disabled"
                                                data-toggle="tooltip" title="Upload all files to the DCC">
                                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload All
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive sample-table">
                                <table class="table table-striped table-data">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="files header" colspan="2">Files</th>
                                        <th class="type header">File Type</th>
                                        <th class="readset header">Readset</th>
                                        <th class="platform header">Platform</th>
                                        <th class="run-type header">Run Type</th>
                                        <th class="capture-kit header">Capture Kit</th>
                                        <th class="library header">Library</th>
                                        <th class="reference header">Reference</th>
                                        <th class="progress header">Progress</th>
                                        <th class="option header">Options</th>
                                    </tr>
                                    </thead>
                                    <tbody class="sample-template sample-section">
                                    <tr class="sample-header-row sample-header-template">
                                        <td class="sample-collapse">
                                            <span class="sample-collapse-icon glyphicon glyphicon-folder-open"></span>
                                            <span class="sample-collapse-icon glyphicon glyphicon-folder-close" style="display: none;"></span>
                                        </td>
                                        <td class="sample-collapse"><a class="sample-name pull-left" data-toggle="modal" data-target="#edit-sample-modal"></a></td>
                                        <td class="sample-collapse" colspan="8"></td>
                                        <td class="sample-collapse sample-option">
                                            <span class="option-icon edit-sample glyphicon glyphicon-pencil"
                                                  data-toggle="modal"
                                                  data-target="#edit-sample-modal"
                                                  title="Edit metadata for entire sample"></span>
                                            <span class="option-icon flow-add add-files glyphicon glyphicon-plus"
                                                  data-toggle="modal"
                                                  data-target="#add-sample-modal"
                                                  title="Add file(s) to sample"></span>
                                            <span class="option-icon remove-sample glyphicon glyphicon-remove" data-toggle="tooltip"
                                                  title="Remove sample"></span>
                                        </td>
                                    </tr>
                                    <tr class="sample-file-row sample-file-template">
                                        <td class="file-icon"><span class="glyphicon glyphicon-file pull-right"></span></td>
                                        <td class="cell" colspan="2"><a class="file-name" data-toggle="modal" data-target="#edit-file-modal"></a></td>
                                        <td class="file-type cell"></td>
                                        <td class="file-readset cell"></td>
                                        <td class="file-platform cell"></td>
                                        <td class="file-run-type cell"></td>
                                        <td class="file-capture-kit cell"></td>
                                        <td class="file-library cell"></td>
                                        <td class="file-reference cell"></td>
                                        <td class="file-progress progress cell">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
                                        </td>
                                        <td class="file-option option cell">
                                            <span class="option-icon edit-file glyphicon glyphicon-pencil"
                                                  data-toggle="modal"
                                                  data-target="#edit-file-modal"
                                                  title="Edit file metadata"></span>
                                            <span class="option-icon remove-file glyphicon glyphicon-remove" data-toggle="tooltip"
                                                  title="Remove file"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="manage">
                        <h1 class="page-header">Files on the DCC</h1>
                        <div class="table-responsive dcc-table">
                            <table class="table table-striped table-data">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="files header" colspan="2">Files</th>
                                    <th class="type header">File Type</th>
                                    <th class="readset header">Readset</th>
                                    <th class="platform header">Platform</th>
                                    <th class="run-type header">Run Type</th>
                                    <th class="capture-kit header">Capture Kit</th>
                                    <th class="library header">Library</th>
                                    <th class="reference header">Reference</th>
                                    <th class="status header">DCC Status</th>
                                    <th class="options header">Options</th>
                                </tr>
                                </thead>
                                <tbody class="sample-template sample-section">
                                <tr class="sample-header-row sample-header-template">
                                    <td class="sample-collapse">
                                        <span class="sample-collapse-icon glyphicon glyphicon-folder-open"></span>
                                        <span class="sample-collapse-icon glyphicon glyphicon-folder-close" style="display: none;"></span>
                                    </td>
                                     <td class="sample-collapse"><span class="sample-name pull-left"></span></td>
                                    <td class="sample-collapse" colspan="9"></td>
                                    <td class="sample-collapse sample-option">
                                        <span class="option-icon edit-sample glyphicon glyphicon-pencil"
                                              data-toggle="modal"
                                              data-target="#edit-sample-modal"
                                              title="Edit metadata for entire sample"></span>
                                    </td>
                                </tr>
                                <tr class="sample-file-row sample-file-template">
                                    <td class="file-icon"><span class="glyphicon glyphicon-file pull-right"></span></td>
                                    <td class="cell" colspan="2"><span class="file-name"></span></td>
                                    <td class="file-type cell"></td>
                                    <td class="file-readset cell"></td>
                                    <td class="file-platform cell"></td>
                                    <td class="file-run-type cell"></td>
                                    <td class="file-capture-kit cell"></td>
                                    <td class="file-library cell"></td>
                                    <td class="file-reference cell"></td>
                                    <td class="file-status cell"></td>
                                    <td class="file-option option cell">
                                        <span class="option-icon edit-file glyphicon glyphicon-pencil"
                                              data-toggle="modal"
                                              data-target="#edit-file-modal"
                                              title="Edit file metadata"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="analyze">...</div>
                </div>
            </div>
        </div>

        <!-- Add sample modal -->
        <div id="add-sample-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title add-sample-title">Sample Metadata</h4>
                        <h4 class="modal-title add-other-title">Additional Files Metadata</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal modal-sample-form">
                            <p class="add-sample-description">
                                Please specify all applicable metadata for the sample you wish to upload. You may
                                also alter sample and individual metadata options after attaching your files. Files
                                already added to the queue cannot be added again. A sample name is required and, along
                                with the readset and library, must be composed solely of letters, numbers, hyphens,
                                and/or underscores.
                            </p>
                            <p class="add-other-description">
                                Please specify all applicable metadata for the additional files you wish to upload. You
                                may also alter individual metadata options after attaching your files. Files
                                already added to the queue cannot be added again.
                            </p>
                            <div class="form-group has-error">
                                <label for="add-sample-name" class="col-sm-3 control-label">Sample / Patient ID</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-sample-name" id="add-sample-name" placeholder="Sample name / Patient ID">
                                    <p class="error-description">* Required: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-readset" class="col-sm-3 control-label">Readset Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-readset" id="add-readset" placeholder="Readset name">
                                    <p class="error-description readset-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-platform" class="col-sm-3 control-label">Platform</label>
                                <div class="col-sm-9">
                                    <input class="typeahead field-platform" id="add-platform" type="text" placeholder="Sequencing platform">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-run-type" class="col-sm-3 control-label">Run Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control field-run-type" id="add-run-type">
                                        <option>Single End</option>
                                        <option>Paired End</option>
                                        <option selected>N/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-capture-kit" class="col-sm-3 control-label">Capture Kit</label>
                                <div class="col-sm-9">
                                    <input class="typeahead field-capture-kit" id="add-capture-kit" type="text" placeholder="Capture kit name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-library" class="col-sm-3 control-label">Library Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-library" id="add-library" placeholder="Library name">
                                    <p class="error-description library-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-reference" class="col-sm-3 control-label">Reference Genome</label>
                                <div class="col-sm-9">
                                    <input class="typeahead field-reference" id="add-reference" type="text" placeholder="Reference genome">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="flow-droparea">
                                        <span>Drop files here or</span>
                                        <input type="button" class="flow-browse btn btn-default" value="Browse your computer">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit sample modal -->
        <div id="edit-sample-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="edit-sample-title modal-title">Edit Sample Metadata</h4>
                        <h4 class="edit-other-title modal-title">Edit Metadata for Additional Files</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal modal-sample-form">
                            <p>
                                Check off <em>Edit All</em> to make changes across all the files included in this
                                group. Readset and library must be composed solely of letters, numbers, hyphens,
                                and/or underscores. Sequencing metadata (except for readset) will not apply to file
                                types detected as <em>Other</em>. Individual file types can be changed along with
                                individual metadata by clicking the edit
                                 <span class="glyphicon glyphicon-pencil"></span> button at the end of the respective
                                file row.
                            </p>
                            <div class="form-group">
                                <label for="edit-sample-name" class="col-sm-3 control-label">Sample / Patient ID</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-sample-name" id="edit-sample-name">
                                    <p class="error-description">* Required: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-readset" class="col-sm-3 control-label">Readset</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control field-readset" id="edit-sample-readset" placeholder="Readset name" disabled>
                                    <p class="error-description readset-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-platform" class="col-sm-3 control-label">Platform</label>
                                <div class="col-sm-7">
                                    <input class="typeahead form-control field-platform" id="edit-sample-platform" type="text" placeholder="Sequencing platform" disabled>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-run-type" class="col-sm-3 control-label">Run Type</label>
                                <div class="col-sm-7">
                                    <select class="form-control field-run-type" id="edit-sample-run-type" disabled>
                                        <option>Single End</option>
                                        <option>Paired End</option>
                                        <option selected>N/A</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-capture-kit" class="col-sm-3 control-label">Capture Kit</label>
                                <div class="col-sm-7">
                                    <input class="typeahead form-control field-capture-kit" id="edit-sample-capture-kit" type="text" placeholder="Capture kit name" disabled>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-library" class="col-sm-3 control-label">Library Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control field-library" id="edit-sample-library" placeholder="Library name" disabled>
                                    <p class="error-description library-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="edit-sample-reference" class="col-sm-3 control-label">Reference Genome</label>
                                <div class="col-sm-7">
                                    <input class="typeahead form-control field-reference" id="edit-sample-reference" type="text" placeholder="Reference genome" disabled>
                                </div>
                                <label class="col-sm-2 edit-checkbox">
                                     <input type="checkbox" value="">
                                     Edit All
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel-edit-sample" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary save-edit-sample save-edit-button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit file modal -->
        <div id="edit-file-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit File Metadata</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal modal-sample-form">
                            <p>
                                Sequencing metadata options are only available for BAM/SAM, FASTQ, and VCF files. If you
                                would like to make changes across files in the whole sample, click the edit
                                 <span class="glyphicon glyphicon-pencil"></span> button at the end of the respective
                                sample header row. Readset and library must be composed solely of letters, numbers,
                                hyphens, and/or underscores.
                            </p>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">File Name</label>
                                <div class="col-sm-9"><p class="form-control-static file-name-title">filename.txt</p></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">File Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control field-type" id="edit-file-type">
                                        <option>BAM/SAM</option>
                                        <option>BED</option>
                                        <option>FASTQ</option>
                                        <option>VCF</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label">Readset</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-readset" id="edit-file-readset" placeholder="Readset name">
                                    <p class="error-description readset-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Platform</label>
                                <div class="col-sm-9">
                                    <input class="typeahead form-control field-platform" id="edit-file-platform" type="text" placeholder="Sequencing platform">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Run Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control field-run-type" id="edit-file-run-type">
                                        <option>Single End</option>
                                        <option>Paired End</option>
                                        <option>N/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Capture Kit</label>
                                <div class="col-sm-9">
                                    <input class="typeahead form-control field-capture-kit" id="edit-file-capture-kit" type="text" placeholder="Capture kit name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Library Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control field-library" id="edit-file-library" placeholder="Library name">
                                    <p class="error-description library-field-error">Optional: may contain letters, numbers, hyphens, or underscores only.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Reference Genome</label>
                                <div class="col-sm-9">
                                    <input class="typeahead form-control field-reference" id="edit-file-reference" type="text" placeholder="Reference genome">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel-edit-file" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary save-edit-file save-edit-button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Download complete modal -->
        <div id="upload-complete-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Complete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Upload completed, any errors are listed below. You may now logout or continue to upload
                            additional samples.
                        </p>
                        <table class="table table-condensed error-table">
                            <thead>
                            <tr>
                                <th>Sample Name</th>
                                <th>File Name</th>
                                <th>Error Description</th>
                            </tr>
                            </thead>
                            <tbody class="error-section">
                            <tr class="file-error-template">
                                <td class="error-sample">sample name placeholder</td>
                                <td class="error-file">file name placeholder</td>
                                <td class="error-msg">error code placeholder</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default logout-button" data-dismiss="modal">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</button>
                        <button type="button" class="btn btn-primary continue-session">Continue</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer row -->
        <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 footer-row">
            <div class="footer">
                If you have any questions or run into issues, please email Orion
                &lt;<a href="mailto:buske@cs.toronto.edu">buske@cs.toronto.edu</a>&gt;
                and/or Dorin
                &lt;<a href="mailto:dorin.manase@sickkids.ca">dorin.manase@sickkids.ca</a>&gt;.
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='flow.js') }}"></script>
    <script src="{{ url_for('static', filename='typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
